@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Lending</h1>

    <p class="fst-italic">
        “To read good books is like talking with the best minds that have ever existed.”
    </p>

    <div>
        <img src="/img/book.png"
    </div>

</div>
